.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.category_picker_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category_picker_title {
  box-sizing: border-box;
  font-weight: 600;
  text-align: center;
}

.category_picker_box > hr {
  margin-block: 15px;
  width: 100%;
  border-color: var(--hr-gray);
}

.create_forum_button {
  color: white;
  background-color: var(--button-primary);
  padding-inline: 40px;
  padding-block: 8px;
  border-radius: 30px;
}

.create_forum_button:hover {
  background-color: #125ffa;
}

.create_forum_button::before {
  content: '\FF0B';
  color: white;
  font-weight: 600;
  margin-right: 10px;
}

.category_label_box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
