.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.category_picker_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category_picker_title {
  box-sizing: border-box;
  font-weight: 600;
  text-align: center;
}

.category_picker_box > hr {
  margin-block: 15px;
  width: 100%;
  border-color: var(--hr-gray);
}

.category_label_box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
