.container {
  background-color: #f1f2f7;
}

.box {
  padding-top: 50px;
  margin-inline: auto;
  max-width: 1200px;
  display: flex;
  gap: 50px;
}

.main_content_container {
  flex: 1;
  /* border: 1px solid red; */
}

.right_container {
  /* border: 1px solid blue; */
}
