.container {
  background-color: #f1f2f7;
}

.box {
  padding-top: 50px;
  margin-inline: auto;
  max-width: 1200px;
  display: flex;
  gap: 50px;
}

.main_content_container {
  flex: 1;
  min-height: 860px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}

.right_container {
  /* border: 1px solid blue; */
}

.noResultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px; /* adjust to fit your design */
  color: #666;
  text-align: center;
  padding: 20px;
}

.noResultIcon {
  width: 120px;
  height: 120px;
  opacity: 0.5;
  margin-bottom: 16px;
}

.noResultText {
  font-size: 18px;
  font-weight: 500;
}

