.container {
    width: 16rem; /* 64 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: #2E73FF solid 1px;
    padding-right: 1rem;
    overflow: scroll;
  }
  .logoContainer {
    display: flex;
    align-items:end;
    justify-content: end;
  }

  .gradientText {
    width: 100%;
    font-size: 2rem; /* text-lg */
    font-weight: bold;
    background: linear-gradient(to right, #1B4599, #51C2FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .newChatButton {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #3b82f6; /* blue-500 */
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    height: 4rem;
  }
  
  .newChatButton:hover {
    background-color: #3275FB; /* blue-600 */
  }
  
  .chatButton_container {
    font-size: 1.25rem; /* text-lg */
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    overflow-y:scroll;
  }
  
  .chatButton {
    background-color: #2953A8; /* blue-700 */
    color: white;
    padding: 0.25rem 1rem;
    border-radius: 1rem;
    border: none;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.2s ease;
    height: 4rem;
  }
  
  .chatButton:hover {
    background-color: #1e3a8a; /* blue-800 */
  }

  .icon {
    height: 60%;

  }